/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Высота экрана */
    overflow: hidden; /* Убираем прокрутку всего окна */
}

/* Левая панель с меню */
.sidebar {
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    width: 250px; /* Ширина левой панели */
    height: 100%; /* Высота на весь экран */
    background-color: #2c3138; /* Цвет фона */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 1000; /* Слой поверх других элементов */
}

.logo {
    text-align: center;
    padding: 15px 0;
}

.logo-img {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.2;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

ul.menu li {
    margin: 5px 0;
}

ul.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    padding-left: 30px;
    transition: background-color 0.3s;
}

ul.menu li a i {
    margin-right: 15px;
}

ul.menu li a:hover {
    background-color: #1e2328;
    color: white;
}

ul.menu li a.active {
    background-color: #1e2328;
    color: white;
}

.logout {
    text-align: left;
    margin-bottom: 40px;
    padding-left: 30px;
}

.logout a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout a i {
    margin-right: 15px;
}

.logout a:hover {
    background-color: transparent;
    text-decoration: none;
}

/* Правая панель */
.main-content {
    margin-left: 250px; /* Отступ от левой фиксированной панели */
    padding: 0;
    width: calc(100% - 250px); /* Вычисляемая ширина, которая учитывает фиксированную левую панель */
    background-color: #f1f1f1; /* Цвет фона для основного контента */
    min-height: 100vh; /* Чтобы занимать всю высоту экрана */
    box-sizing: border-box; /* Учитываем padding в ширину */
}


/* Заголовок модуля */
.module-header {
    background-color: white;
    padding: 20px;
}

.module-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/* Контент модуля */
.module-content {
    padding: 30px;
    color: #333;
}

.module-content p {
    font-size: 18px;
}
