/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

/* Левая панель с меню */
.sidebar {
    width: 250px;
    background-color: #2f3542;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}

.logo {
    text-align: center;
    padding: 15px 0;
}

.logo-img {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.2;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

ul.menu li {
    margin: 5px 0;
}

ul.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    padding-left: 30px;
    transition: background-color 0.3s;
}

ul.menu li a i {
    margin-right: 15px;
}

ul.menu li a:hover {
    background-color: #1e2328;
    color: white;
}

ul.menu li a.active {
    background-color: #1e2328;
    color: white;
}

.logout {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 30px;
}

.logout a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout a i {
    margin-right: 15px;
}

.logout a:hover {
    background-color: transparent;
    text-decoration: none;
}

/* Правая панель */
.main-content {
    flex-grow: 1;
    background-color: #e0e0e0; /* Более темный фон для основного контента */
    padding: 0;
}

/* Заголовок модуля */
.module-header {
    background-color: white;
    padding: 20px;
}

.module-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/* Контент модуля */
.module-content {
    padding: 30px;
    color: #333;
}

.module-content p {
    font-size: 18px;
}
