/* Белый блок под заголовком */
.white-box {
    background-color: #fff; /* Белый фон */
    padding: 20px; /* Отступы внутри белого блока */
    border-radius: 10px; /* Радиус для закругления углов */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    margin: 20px; /* Внешний отступ от краев экрана */
    min-height: 500px; /* Минимальная высота для белого блока */
}
